 <tr >
	<td height="30" style="">{dvb_input_id}</td>
	<td ><a href="rrdtool/graph/graph_hour_{dvb_input_id}.png" rel="light" data-uk-lightbox data-gallery="{dvb_input_id}" data-caption="Параметры {name} за час"><img border="0" width="100px" src="rrdtool/graph/graph_hour_{dvb_input_id}.png"></a></td>
	<td ><a href="rrdtool/graph/graph_day_{dvb_input_id}.png" rel="light" data-uk-lightbox data-gallery="{dvb_input_id}" data-caption="Параметры {name} за день"><img border="0" width="100px" src="rrdtool/graph/graph_day_{dvb_input_id}.png"></a></td>
	<td ><a href="rrdtool/graph/graph_week_{dvb_input_id}.png" rel="light" data-uk-lightbox data-gallery="{dvb_input_id}" data-caption="Параметры {name} за неделю"><img border="0" width="100px" src="rrdtool/graph/graph_week_{dvb_input_id}.png"></a></td>
        </td>
  </tr>
        <a href="#" onclick='edit_adapter_dialog({dvb_input_id});

					return false;'><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>
        <a style="{delete_display}" onclick="return confirm('Удалить адаптер?')" href="{php_self}?plugin=adapters&action=delete_adapter&dvb_input_id={dvb_input_id}"><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
