        <a href="#" onclick='$("#user-edit-form-f #user").val("{user}");
                             $("#user-edit-form-f #user_id").val("{user_id}");
                             edit_user_dialog();
                             return false;'><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>&nbsp;&nbsp;
    	<a href="{php_self}?plugin=users&action=delete_user&user_id={user_id}" onclick="return confirm('Удалить пользователя?')"><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
