<table width="100%" border="0" cellspacing="0" cellpadding="4" id="channels"  class="display compact order-column hover nowrap">
  <thead>
    <tr>
      <th >#</th>
      <th >id</th>
      <th >Канал</th>
      <th >{opt1}</th>
      <th >{opt2}</th>
      <th >{opt3}</th>
      <th >{opt4}</th>
      <th >Astra</th>
      <th >Вход</th>
      <th >Выход</th>
      <th >{str1}</th>
      <th align="center" >On</th>
      <th align="center" >Alert</th>
      <th >Битрейт</th>
      <th >CC</th>
      <th >PES</th>
      <th >Обновлено</th>
      <th >Проблемы</th>
      <th >&nbsp;</th>
    </tr>
  </thead>
</table>
<div id="channel-edit-form"  class="uk-modal">
  <div class="uk-modal-dialog"> <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="channel-edit-form-f" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal">
        <legend>Канал</legend>
        <div class="uk-form-row">
          <label class="uk-form-label" for="name">Название:</label>
          <div class="uk-form-controls">
            <input name='name' id='name' type="text" maxlength="50" >
          </div>
        </div>
        <div class="uk-form-row">
          <label class="uk-form-label" for="astra_id">Астра:</label>
          <div class="uk-form-controls">
            <div id='astra_select'></div>
          </div>
        </div>
        <div class="uk-form-row">
          <label class="uk-form-label" for="enable">Включен:</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="enable" id="enable">
          </div>
        </div>
        <div class="uk-form-row">
          <label class="uk-form-label" for="event">Мониторинг:</label>
          <div class="uk-form-controls">
            <input type="checkbox" name="event" id="event">
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button class="uk-button uk-button-success" type="submit" id="channel-submit-button">Добавить</button>
          </div>
        </div>
      </fieldset>
      <input type="hidden" name='plugin' id='plugin' value="channels">
      <input type="hidden" name='action' id='action' value="add_channel">
      <input type="hidden" name='channel_id' id='channel_id' value="">
    </form>
  </div>
</div>
<a class="uk-button uk-button-primary" href="" onClick="return show_add_dialog('add_channel_dialog','{php_self}?plugin=channels&show_add_dialog=Y')">Добавить канал</a>
<script type="text/javascript">
	    function _open( url, width, height ) {
	        window.open( url,'' , 'fullscreen=no,location=no,menubar=no,toolbar=no,status=no,width=' + width + ',height=' + height + ',left=' + ((window.innerWidth - width)/2) + ',top=' + ((window.innerHeight - height)/2) );
	    }
	var channelsTable;
		
	$(document).ready(function() {
    	channelsTable = $('#channels').DataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": false,
				"autoWidth": false,
				"stateSave": true,
				"language": {
                	url: "scripts/datatables/i18n/Russian.lang",
            	},
				"ajax": "{php_self}?plugin=channels&action=get_channels",
				"columnDefs": [
					  { "width": "25px", "targets": [ 0 ] },
					  { "width": "80px", "targets": [ 18 ] },
					  { 'sortable': false, 'targets': [ 18 ] },
				      { "type": "natural", "targets": [ 1, 2, 3, 4 ] },
					  
				],
				"columns": [
					{ "data": "num" },
					{ "data": "channel_id" },
					{ "data": "channel_name" },
					{ "data": "keys_shar" },
					{ "data": "stalker_on" },
					{ "data": "stalker_on2" },
					{ "data": "lumi_on" },
					{ "data": "astra_name" },
					{ "data": "input_crop" },
					{ "data": "output_0" },
					{ "data": "lumi_fr" },
					{ "data": "onair", className: "align_center" },
					{ "data": "event", className: "align_center" },
					{ "data": "bitrate" },
					{ "data": "cc_error" },
					{ "data": "pes_error" },
					{ "data": "last_update" },
					{ "data": "last_problem" },
					{ "data": "channel_buttons" },
				],
				"rowCallback": function( row, data ) {
					// Bold the grade for all 'A' grade browsers
					//alert(data[11]);
					
					$('td:eq(1)', row).html(data['channel_id']);
					//if ( data['event_request'] !== "" ) {
					//$('td:eq(1)', row).html('<a href=\'' + data['event_request'] + '/#/stream/' +  data['channel_id'] + '\'>' + data['channel_id'] + '</a>');
					//}else {$('td:eq(1)', row).html(data['channel_id']);}

					if ( data['event_request'] !== "" ) {
					if ( data['astra_mask'] !== "" ) {
					$('td:eq(2)', row).html('<a class="uk-icon-wrench uk-icon-small" style="color: blue" title="Настройка канала в Астре" href=\'' + data['event_request'] + data['astra_mask'] + data['channel_id'] + '\'></a> <a href=\'?plugin=channels&action=channel_info&channel_id=' + data['channel_id'] + '\'>' + data['channel_name'] + '</a>' + data['name_rus']);
					}else {
					$('td:eq(2)', row).html('<a class="uk-icon-wrench uk-icon-small" style="color: grey" title="Для полной ссылки до настройки канала укажите маску" href=\'' + data['event_request'] + '\'></a> <a href=\'?plugin=channels&action=channel_info&channel_id=' + data['channel_id'] + '\'>' + data['channel_name'] + '</a>' + data['name_rus']);
					}
					}else {
					$('td:eq(2)', row).html('<a href=\'?plugin=channels&action=channel_info&channel_id=' + data['channel_id'] + '\'>' + data['channel_name'] + '</a>' + data['name_rus']);
					}
					if(data['channel_name'].indexOf('HD') + 1)
					{$('td:eq(2)', row).css( "color", "blue");}

					$('td:eq(3)', row).html(data['keys_shar']);
					if ( data['keys_shar'] == 'true' ) {
					  $('td:eq(3)', row).html('<i class="uk-icon-check uk-icon-small" style="color: green" title="Есть"></i>');
					// $('td:eq(3)', row).css( "background-color" , "#CCFFCC");
					}else{$('td:eq(3)', row).html('<i class="uk-icon-remove uk-icon-small" style="color: #ffe0b2" title="Нет"></i>');}

					$('td:eq(4)', row).html(data['stalker_on']);
					if ( data['stalker_on'] == 'true' ) {
					  $('td:eq(4)', row).html('<i class="uk-icon-check uk-icon-small" style="color: green" title="Есть"></i>');
					// $('td:eq(4)', row).css( "background-color" , "#CCFFCC");
					}else{$('td:eq(4)', row).html('<i class="uk-icon-remove uk-icon-small" style="color: gray" title="Нет"></i>');}

					$('td:eq(5)', row).html(data['stalker_on2']);
					if ( data['stalker_on2'] == 'true' ) {
                                          $('td:eq(5)', row).html('<i class="uk-icon-check uk-icon-small" style="color: green" title="Есть"></i>');
					//  $('td:eq(5)', row).css( "background-color" , "#CCFFCC");
					}else{$('td:eq(5)', row).html('<i class="uk-icon-remove uk-icon-small" style="color: gray" title="Нет"></i>');}

					$('td:eq(6)', row).html(data['lumi_on']);
					if ( data['lumi_on'] == 'true' ) {
                                          $('td:eq(6)', row).html('<i class="uk-icon-check uk-icon-small" style="color: green" title="Есть"></i>');
					//  $('td:eq(6)', row).css( "background-color" , "#CCFFCC");
					}else{$('td:eq(6)', row).html('<i class="uk-icon-remove uk-icon-small" style="color: gray" title="Нет"></i>');}

					
					$('td:eq(7)', row).html('<span style="cursor:pointer" onClick="channelsTable.search(\''+ data['astra_name'] + '\').draw();">'+ data['astra_name'] + '</a>');
					if(data['input'] != null)
					{
						$('td:eq(8)', row).html('<span style="cursor:pointer" onClick="channelsTable.search(\''+ data['input_crop'] + '\').draw();"><strong>'+ data['input_crop'] + '</strong></span>')					
					}

					$('td:eq(10)', row).html(data['lumi_fr']);

					if ( data['onair'] == 'true' ) {
						$('td:eq(11)', row).html('<i class="uk-icon-power-off uk-icon-small" style="color: green" title="Работает"></i>');
					}else{
						if ( data['scrambled'] == 'true' ) {
							title = 'Нет канала на спутнике, или не верный номер канала';
						}else{
							title = 'Не работает';
						}
						$('td:eq(11)', row).html('<i class="uk-icon-power-off uk-icon-small" style="color: red" title="' + title + '"></i>');
					    $('td:eq(11)', row).css( "background-color" , 'yellow');
					    $('td:eq(16)', row).css( "background-color" , 'yellow');
					}
					
					if ( data['event'] == 'false' ) {
						 $('td:eq(12)', row).html('<i class="uk-icon-warning uk-icon-small" style="color: orange" title="Отключены уведомления"></i>');
						// $('td:eq(12)', row).css( "background-color" , 'orange');
					}else{
						 $('td:eq(12)', row).html('<i class="uk-icon-warning uk-icon-small" style="color: green" title="Включены уведомления"></i>');
					}

					if ( data['bitrate'] < 100 ) {
					  $('td:eq(13)', row).css( "background-color" , '#FDD');
					}
					$('td:eq(13)', row).html( data['bitrate'] + ' kBit');

					if ( data['cc_error'] >5 ) {
					  $('td:eq(14)', row).css( "background-color" , "#C4DEFF");
					}

					if ( data['pes_error'] >5 ) {
					  $('td:eq(15)', row).css( "background-color" , "#C4DEFF");
					}
					if ( data['last_update_period'] > parseInt(data['time_res'], 10) ) {
					  $('td:eq(16)', row).css( "background-color" , 'red');
					}
					
					$('td:eq(16)', row).html('<strong>' + data['last_update'] + '</strong>');

					if ( data['last_problem_period'] < 30*60 ) {
					  $('td:eq(17)', row).css( "background-color" , 'orange');
					}
					if ( data['last_problem_period'] < 1 ) {
					  $('td:eq(17)', row).css( "background-color" , '');
					}
					
					$('td:eq(17)', row).html('<strong>' + data['last_problem'] + '</strong>');

					
					if ( data['enable'] == "false" ) {
					$('td:eq(11)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(12)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(13)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(14)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(15)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(16)', row).css( "background-color" , '#CCCCCC');
					 $('td:eq(17)', row).css( "background-color" , '#CCCCCC');
                   }
				}
			});
			
			$('#channel-edit-form').on({
				'uk.modal.show': function(){
					//stop_reload();
				},
				'uk.modal.hide': function(){
					//set_reload();
				}
			});
			
			
			if('{show_add_dialog}' == 'Y')
			{
				add_channel_dialog();
			}
			
		} );
		
		function edit_channel_dialog()
		{		
				$('#channel-submit-button').html('<i class="uk-icon-save"></i> Сохранить');
				$.UIkit.modal("#channel-edit-form").show();
				$("#channel-edit-form #action").val("edit_channel");
		}
		
		function add_channel_dialog()
		{
				$('#channel-submit-button').html('<i class="uk-icon-plus"></i> Добавить');;
				$("#channel-edit-form #name").val("");
				$.UIkit.modal("#channel-edit-form").show();
				$("#channel-edit-form #name").focus();
				$("#channel-edit-form #action").val("add_channel");
				$("#channel-edit-form #event").prop('checked', true);
				$("#channel-edit-form #enable").prop('checked', true);

				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_astra_select" },
				  async: false,
				  success: function(html){  
       						 $("#astra_select").html(html);
				   }  
				});
		}
		
		var vTimeOut;
        function set_reload()
        {
           vTimeOut = setTimeout('channelsTable.ajax.reload()', "{page_reload_time}");
        }
       
	    function stop_reload()
        {
            clearInterval(vTimeOut);
        }
            
       set_reload();
		
</script> 
