<form id='channel_edit_form' method="post" action="{php_self}" class="uk-form">
  <fieldset data-uk-margin class="uk-form-horizontal">
    <legend>Редактирование канала</legend>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">Название:</label>
      <div class="uk-form-controls">
        <input name="name" id="name" value="{name}" maxlength="50">
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">Название rus:</label>
      <div class="uk-form-controls">
        <input name="name_rus" id="name_rus" value="{name_rus}" maxlength="50">
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">Astra:</label>
      <div class="uk-form-controls"> {astra_select}<a href="" style="margin-left: 20px" onclick="return channel_reload_astra();"><i class="uk-icon-refresh uk-icon-small" style="color:green" title="Перезагрузить астру"></i></a></div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">Включен:</label>
      <div class="uk-form-controls">
        <input type="checkbox" name="enable" id="enable" {enable_checked}>
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">{opt1}:</label>
      <div class="uk-form-controls">
        <input type="checkbox" name="keys_shar" id="keys_shar" {keys_shar_checked}>
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">{opt2}:</label>
      <div class="uk-form-controls">
        <input type="checkbox" name="stalker_on" id="stalker_on" {stalker_on_checked}>
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">{opt3}:</label>
      <div class="uk-form-controls">
        <input type="checkbox" name="stalker_on2" id="stalker_on2" {stalker_on2_checked}>
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">{opt4}:</label>
      <div class="uk-form-controls">
        <input type="checkbox" name="lumi_on" id="lumi_on" {lumi_on_checked}>
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">Уведомления:</label>
      <div class="uk-form-controls">
        <input type="checkbox" name="event" id="event" {event_checked}>
      </div>
    </div>
    <div class="uk-form-row">
      <label class="uk-form-label" for="name">{str1}:</label>
      <div class="uk-form-controls">
        <input name="lumi_fr" id="lumi_fr" value="{lumi_fr}" maxlength="8">&nbsp;&nbsp;(Текст для кастомизированного столбца)
      </div>
    </div>
    <div class="uk-form-row">
      <div class="uk-form-controls">
        <button type="submit" class="uk-button uk-button-success" ><i class="uk-icon-save"></i> Сохранить</button>
      </div>
    </div>
  </fieldset>
  <fieldset data-uk-margin class="uk-form-horizontal">
    <legend>Входы </legend>
    <div class="uk-form-row">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="input_list" class="display compact nowrap">
        <thead id="input_list_header">
          <tr>
            <th align="left">Адрес</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
      </table>
    </div>
  </fieldset>
  <fieldset data-uk-margin class="uk-form-horizontal">
    <legend>Выходы </legend>
    <div class="uk-form-row">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" id="output_list" class="display compact nowrap">
        <thead id="output_list_header">
          <tr>
            <th align="left">Адрес</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
      </table>
    </div>
  </fieldset>
  <input type="hidden" name='plugin' id='plugin' value="channels">
  <input type="hidden" name='action' id='action' value="edit_channel">
  <input type="hidden" name='channel_id' id='channel_id' value="{channel_id}">
</form>
<script type="text/javascript">
		
		function channel_reload_astra()
		{
				astra_id = $("#astra_id").val();
				if (confirm('Перезагрузить астру?'))
				{
					$.ajax({
						  url: "{php_self}",
						  type: "GET",
						  data: { astra_id : astra_id , plugin : 'astras', action : "reload_astra" },
						  async: false,
					});
				}
				
				return false;
		}
		
		
		var output_frm = $('#output-edit-form-f');
		output_frm.submit(function (ev) {
			$.ajax({
				type: output_frm.attr('method'),
				url: output_frm.attr('action'),
				data: output_frm.serialize(),
				success: function (data) {
					refresh_outputs();
					$.UIkit.modal("#output-edit-form").hide();
				}
			});
	
			ev.preventDefault();
		});
	
		var input_frm = $('#input-edit-form-f');
		input_frm.submit(function (ev) {
			$.ajax({
				type: input_frm.attr('method'),
				url: input_frm.attr('action'),
				data: input_frm.serialize(),
				success: function (data) {
					refresh_inputs();
					$.UIkit.modal("#input-edit-form").hide();
				}
			});
	
			ev.preventDefault();
		});
		
		function edit_output_dialog(output_id)
		{		
;
				$("#output-edit-form-f #action").val("edit_output");
				$('#output_submit_button').html('<i class="uk-icon-save"></i> Сохранить');
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { output_id : output_id , plugin : 'channels', action : "get_output_params" },
				  async: false,
				  dataType: "script"
				});
				show_output_type_table();
				
				$.UIkit.modal("#output-edit-form").show();
				
				return false;
		}
		
		
		function edit_input_dialog(input_id)
		{		
				$("#input-edit-form-f #action").val("edit_input");
				$('#input_submit_button').html('<i class="uk-icon-save"></i> Сохранить');
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_dvb_input_select" },
				  async: false,
				  success: function(html){  
       						 $("#dvb_input_select").html(html);  
				   }  
				});
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_newcamd_select" },
				  async: false,
				  success: function(html){  
       						 $("#newcamd_select").html(html);
				   }  
				});
				
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { input_id : input_id , plugin : 'channels', action : "get_input_params" },
				  async: false,
				  dataType: "script"
				});
				$.UIkit.modal("#input-edit-form").show();
				show_input_type_table();
				return false;
		}
		
		function add_output_dialog()
		{		

				$('#output_submit_button').html('<i class="uk-icon-plus"></i> Добавить');
				$("#output-edit-form-f #action").val("add_output");
				$("#output-edit-form-f #port").val("1234");
				$("#output-edit-form-f #ttl").val("64");
				
				$.UIkit.modal("#output-edit-form").show();
				show_output_type_table();
				
				return false;
		}
		
		function add_input_dialog()
		{		
				$('#input_submit_button').html('<i class="uk-icon-plus"></i> Добавить');
				$("#input-edit-form-f #action").val("add_input");
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_dvb_input_select" },
				  async: false,
				  success: function(html){  
       						 $("#dvb_input_select").html(html);  
				   }  
				});
				
				$.ajax({
				  url: "{php_self}",
				  type: "GET",
				  data: { plugin : 'channels', action : "get_newcamd_select" },
				  async: false,
				  success: function(html){  
       						 $("#newcamd_select").html(html);
			 				 $("#input-edit-form #newcamd_id").val('');  
				   }  
				});
				
				$.UIkit.modal("#input-edit-form").show();
				show_input_type_table();
				return false;
		}
		
		function show_output_type_table()
		{
				
				//alert($('#type').val());
				switch ($('#output-edit-form #type').val()) {
					case 'udp':
						$('#out_udp').find(":input").prop("disabled", false);
						$('#out_http').find(":input").prop("disabled", true);
						$('#out_file').find(":input").prop("disabled", true);
						$('#out_udp').css( "display", "block" )
						$('#out_http').css( "display", "none" )
						$('#out_file').css( "display", "none" )
						break;
					case 'http':
						$('#out_udp').find(":input").prop("disabled", true);
						$('#out_http').find(":input").prop("disabled", false);
						$('#out_file').find(":input").prop("disabled", true);
						$('#out_udp').css( "display", "none" )
						$('#out_http').css( "display", "block" )
						$('#out_file').css( "display", "none" )
						break
					case 'file':
						$('#out_udp').find(":input").prop("disabled", true);
						$('#out_http').find(":input").prop("disabled", true);
						$('#out_file').find(":input").prop("disabled", false);
						$('#out_udp').css( "display", "none" )
						$('#out_http').css( "display", "none" )
						$('#out_file').css( "display", "block" )
						break;
				}
		}
		
		
		function show_input_type_table()
		{

				//alert($('#type').val());
				switch ($('#input-edit-form #type').val()) {
					case 'dvb':
						$('#in_dvb').find(":input").prop("disabled", false);
						$('#in_udp').find(":input").prop("disabled", true);
						$('#in_http').find(":input").prop("disabled", true);
						$('#in_file').find(":input").prop("disabled", true);
						$('#in_dvb').css( "display", "block" )
						$('#in_udp').css( "display", "none" )
						$('#in_http').css( "display", "none" )
						$('#in_file').css( "display", "none" )
						break;
					case 'udp':
						$('#in_dvb').find(":input").prop("disabled", true);
						$('#in_udp').find(":input").prop("disabled", false);
						$('#in_http').find(":input").prop("disabled", true);
						$('#in_file').find(":input").prop("disabled", true);
						$('#in_dvb').css( "display", "none" )
						$('#in_udp').css( "display", "block" )
						$('#in_http').css( "display", "none" )
						$('#in_file').css( "display", "none" )
						break;
					case 'http':
						$('#in_dvb').find(":input").prop("disabled", true);
						$('#in_udp').find(":input").prop("disabled", true);
						$('#in_http').find(":input").prop("disabled", false);
						$('#in_file').find(":input").prop("disabled", true);
						$('#in_dvb').css( "display", "none" )
						$('#in_udp').css( "display", "none" )
						$('#in_http').css( "display", "block" )
						$('#in_file').css( "display", "none" )
						break
					case 'file':
						$('#in_dvb').find(":input").prop("disabled", true);
						$('#in_udp').find(":input").prop("disabled", true);
						$('#in_http').find(":input").prop("disabled", true);
						$('#in_file').find(":input").prop("disabled", false);
						$('#in_dvb').css( "display", "none" )
						$('#in_udp').css( "display", "none" )
						$('#in_http').css( "display", "none" )
						$('#in_file').css( "display", "block" )
						break;
				}
		}
		
	function delete_input(input_id)
	{
		if (confirm("Удалить вход?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_input', channel_id : "{channel_id}" , input_id : input_id },
				async: true,
				success: function(html){  
					refresh_inputs();
				}  
			});
		}else{
			return false;
		}
	}

	function delete_output(output_id)
	{
		if (confirm("Удалить выход?")) {
			$.ajax({
				url: "{php_self}",
				type: "POST",
				data: { plugin : "channels", action : 'delete_output', channel_id : "{channel_id}" , output_id : output_id },
				async: true,
				success: function(html){  
					refresh_outputs();
				}  
			});	
		} else {
			return false;
		}
	}
	
	
	function refresh_inputs()
	{
		inputsTable.ajax.reload();
	}
	
	function refresh_outputs()
	{
		outputsTable.ajax.reload();
	}
	
	
	
	var inputsTable;
	var outpusTable;
	
	$(document).ready(function() {
		//refresh_inputs();
		//refresh_outputs();
		//refresh_maps();
		
		inputsTable = $('#input_list').DataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": false,
				"ordering": false,
				"info": false,
				"autoWidth": false,
				"stateSave": false,
				"ajax": "{php_self}?plugin=channels&action=get_inputs&channel_id={channel_id}",
				"language": {
                	"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"columnDefs": [
					  { "width": "100px", "targets": [ 1 ] },
				],
			});
			
		outputsTable = $('#output_list').DataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": false,
				"ordering": false,
				"info": false,
				"autoWidth": false,
				"stateSave": false,
				"ajax": "{php_self}?plugin=channels&action=get_outputs&channel_id={channel_id}",
				"language": {
                	"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"columnDefs": [
					  { "width": "100px", "targets": [ 1 ] },
				],
			});
	
		
	})
</script> 
