<a href="#" onclick='edit_input_dialog({input_id}); return false;'><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>&nbsp;&nbsp;
<a onclick="delete_input({channel_id}); return false;"  href="#" ><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
