<ul class="uk-tab" data-uk-tab>
  <li data-uk-dropdown="{mode:'click'}" id='channels_dropdown'><a href="{php_self}?plugin=channels" onClick="menu_on_click(this);" >Каналы</a></li>
  <li data-uk-dropdown="{mode:'click'}" id='adapters_dropdown'><a href="{php_self}?plugin=adapters" onClick="menu_on_click(this);">DVB-Адаптеры</a></li>
  <li data-uk-dropdown="{mode:'click'}" id='astras_dropdown'><a href="{php_self}?plugin=astras" onClick="menu_on_click(this);">Astra</a></li>
  <li data-uk-dropdown="{mode:'click'}" id='users_dropdown'><a href="{php_self}?plugin=users" onClick="menu_on_click(this);">Пользователи</a></li>

    <li class="uk-parent" data-uk-dropdown>
        <a>Легенда</a>
        <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
                <li><a style="background:orange">Была проблема за последние пол часа</a></li>
                <li class="uk-nav-divider"></li>
                <li><a style="background:red">Не приходит статистика по каналу (время указывается в конфиге)</a></li>
                <li class="uk-nav-divider"></li>
                <li><a style="background:yellow">Канал не работает</a></li>
                <li class="uk-nav-divider"></li>
                <li><a style="background:#CCCCCC">Канал выключен в мониторинге</a></li>
                <li class="uk-nav-divider"></li>
            </ul>
        </div>
    </li>

</ul>

<!--

--> 
<script type="text/javascript">
function show_add_dialog(dialog_function,url)
{
	if ($.isFunction(window[dialog_function])) {
		window[dialog_function]();
	}else{
		$(location).attr('href',url);
	}
	return false;
}

function menu_on_click(el)
{
	$(location).attr('href',el.href);
}

$(document).ready(function (){
	if("{plugin}" == "")
	{
		plugin = 'channels';
	}else{
		plugin = '{plugin}';
	}
	$("#" + plugin + '_dropdown').addClass("uk-active");
});
	
</script> 
