<table width="100%" border="0" cellspacing="0" id="astras" class="display compact nowrap">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Сервер</th>
      <th>Каналов</th>
      <th>URL управления Astra</th>
      <th>Маска адреса канала</th>
<!--      <th>API</th> -->
      <th>&nbsp;</th>
    </tr>
  </thead>
</table>

<div id="astra-edit-api" class="uk-modal" >
  <div class="uk-modal-dialog" > <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="astra-edit-api-f" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal" >
        <div class="uk-form-row">
          <label for='auth_api'  class="uk-form-label">Логин и пароль для авторизации в API (login:pas)</label>
          <div class="uk-form-controls">
            <input name='auth_api' id='auth_api' type="text" maxlength="200" class="uk-form-width-medium">
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button class="uk-button uk-button-success" type="submit" id="astra-submit-button">Добавить</button>
          </div>
        </div>
      </fieldset>
      <input type="hidden" name='plugin' id='plugin' value="astras">
      <input type="hidden" name='action' id='action' value="edit_api">
      <input type="hidden" name='astra_id' id='astra_id' value="">
    </form>
  </div>
</div>


<div id="astra-edit-form" class="uk-modal" >
  <div class="uk-modal-dialog" > <a class="uk-modal-close uk-close" title="Закрыть"></a>
    <form action="{php_self}" id="astra-edit-form-f" class="uk-form">
      <fieldset data-uk-margin class="uk-form-horizontal" >
        <div class="uk-form-row">
          <label for='astra'  class="uk-form-label">Название</label>
          <div class="uk-form-controls">
            <input name='name' id='name' type="text" maxlength="50">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='control_server_addr'  class="uk-form-label">Cервера с Astra</label>
          <div class="uk-form-controls">
            <input name='control_server_addr' id='control_server_addr' type="text" maxlength="50">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='event_request'  class="uk-form-label">URL web управления Astra</label>
          <div class="uk-form-controls">
            <input name='event_request' id='event_request' type="text" maxlength="200" class="uk-form-width-medium">
          </div>
        </div>
        <div class="uk-form-row">
          <label for='astra_mask'  class="uk-form-label">Маска для ссылки на канал в астре (не включая id). Пример:  /#/stream/</label>
          <div class="uk-form-controls">
            <input name='astra_mask' id='astra_mask' type="text" maxlength="200" class="uk-form-width-medium">
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <button class="uk-button uk-button-success" type="submit" id="astra-submit-button">Добавить</button>
          </div>
        </div>
      </fieldset>
      <input type="hidden" name='plugin' id='plugin' value="astras">
      <input type="hidden" name='action' id='action' value="add_astra">
      <input type="hidden" name='astra_id' id='astra_id' value="">
    </form>
  </div>
</div>
<a class="uk-button uk-button-primary" href="" onClick="return show_add_dialog('add_astra_dialog','{php_self}?plugin=astras&show_add_dialog=Y')">Добавить экземпяр ASTRA</a>


<script type='text/javascript'>
	$(document).ready(function() {
    	$('#astras').dataTable( {
				"paging": false,
				"lengthChange": false,
				"searching": true,
				"ordering": true,
				"info": false,
				"autoWidth": false,
				"stateSave": true,
				"language": {
                	"url": "scripts/datatables/i18n/Russian.lang"
            	},
				"ajax": "{php_self}?plugin=astras&action=get_astras",
				"columnDefs": [
					  { "width": "25px", "targets": [ 0 ] },
					  { "width": "50px", "targets": [ 6 ] },
					  { 'sortable': false, 'targets': [ 6 ] }
				],
				"columns": [
					{ "data": "astra_id" },
					{ "data": "name" },
					{ "data": "control_server_addr" },
					{ "data": "channels_count" },
					{ "data": "event_request" },
					{ "data": "astra_mask" },
					//{ "data": "auth_api" },
					{ "data": "astra_buttons" },
				],
				"rowCallback": function( row, data ) {
					// Bold the grade for all 'A' grade brows
						$('td:eq(1)', row).html('<strong>' + data['name'] + '</strong>');
						if ( data['event_request'] != '' ) {
						$('td:eq(2)', row).html('<strong>' + data['control_server_addr'] + '</strong>');
						$('td:eq(4)', row).html('<a href=\'' + data['event_request'] + '\'>' + data['event_request'] + '</a>');
						}
						else{$('td:eq(2)', row).html(data['control_server_addr']);}
						if ( data['auth_api'] != '' ) {
						//$('td:eq(1)', row).html('<a href="#" onclick="edit_adapter_dialog(' + data['dvb_input_id'] + '); return false;">' + data['name'] + '</a>');
						$('td:eq(4)', row).html('<i class="uk-icon-unlock-alt uk-icon-small" style="color: grey" title="Пароль установлен"></i> <a href=\'' + data['event_request'] + '\'>' + data['event_request'] + '</a>');
						//$('td:eq(4)', row).html('<a href="#" onclick="edit_api_dialog(' + data['astra_id'] + '); return false;"><i class="uk-icon-cog uk-icon-small" style="color: green" title="Пароль установлен"></i></a>');
						}else{
						$('td:eq(4)', row).html('<a href=\'' + data['event_request'] + '\'>' + data['event_request'] + '</a>');
						//$('td:eq(5)', row).html('<a href="#" onclick=\'edit_api_dialog(); return false;\'><i class="uk-icon-cog uk-icon-small" style="color: grey" title="Редактировать"></i></a>');
						}
				},
				
				
			});
			
				if('{show_add_dialog}' == 'Y')
				{
					add_astra_dialog();
			}
			
		} );
		

		function edit_astra_dialog()
		{		
				$('#astra-submit-button').html('<i class="uk-icon-save"></i> Сохранить');
				$("#astra-edit-form-f #action").val("edit_astra");
				$.UIkit.modal("#astra-edit-form").show();
		}

		function add_astra_dialog()
		{
				$("#astra-edit-form-f #name").val("");
				$("#astra-edit-form-f #control_server_addr").val("");
				$("#astra-edit-form-f #event_request").val("");
				$("#astra-edit-form-f #astra_mask").val("");
				$("#astra-edit-form-f #action").val("add_astra");
				$('#astra-submit-button').html('<i class="uk-icon-plus"></i> Добавить');
				$.UIkit.modal("#astra-edit-form").show();
		}

		function edit_api_dialog()
		{

//				$.ajax({
//					url: "{php_self}",
//					type: "GET",
//					data: { astra_id : astra_id , plugin : 'astras', action : "get_astras" },
//					async: false,
//					dataType: "script"
//				});

				$("#astra-edit-api-f #auth_api").val("");
				$("#astra-edit-api-f #action").val("edit_api");
				$('#astra-submit-button').html('<i class="uk-icon-save"></i> Сохранить');
				$.UIkit.modal("#astra-edit-api").show();
		}
		
</script>